In [2]:
import mysql.connector as connector

In [3]:
try:
    conn = connector.connect(user='root', password='')
except Error as er:
    print(er.msg)

In [4]:
cursor = conn.cursor()

In [4]:
cursor.execute("CREATE DATABASE little_lemon_db")

In [5]:
cursor.execute("USE little_lemon_db")

In [6]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [7]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [16]:
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [9]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [25]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100)
);"""

In [26]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [38]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [39]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# # Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# # Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# # Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [7]:
from mysql.connector import pooling, Error

In [8]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":""}
try:
    pool = pooling.MySQLConnectionPool(pool_name="pool_a",
                                                  pool_size=2,
                                                  host='localhost',
                                                  **dbconfig)
    print("The connectin pool is created with name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

The connectin pool is created with name: pool_a
The pool size is: 2

In [3]:
conn = pool.get_connection()
if conn.is_connected:
    cursor = conn.cursor()

In [16]:
create_peakhours_proc = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS booking_hour, COUNT(BookingID) AS number_of_bookings
    FROM Bookings
    GROUP BY booking_hour
    ORDER BY number_of_bookings DESC;
END
"""

In [17]:
cursor.execute(create_peakhours_proc)

In [18]:
cursor.callproc('PeakHours')

()

In [19]:
results = next(cursor.stored_results())

In [20]:
dataset = results.fetchall()

In [21]:
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

In [22]:
print(cols)
for data in dataset:
        print(data)

['booking_hour', 'number_of_bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [37]:
create_gueststatus_proc = """CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(GuestFirstName,' ',GuestLastName) AS GuestFullName,
    CASE
    WHEN Role in ('Manager','Assistant Manager') THEN 'Ready to pay'
    WHEN Role in ('Head Chef') THEN 'Ready to serve'
    WHEN Role in ('Assistant Chef') THEN 'Preparing Order'
    WHEN Role in ('Head Waiter') THEN 'Order served'
    END AS Status
    FROM Bookings
    LEFT JOIN Employees
    ON Bookings.EmployeeID=Employees.EmployeeID;
END
"""

In [38]:
cursor.execute(create_gueststatus_proc)

In [39]:
cursor.callproc('GuestStatus')

()

In [40]:
results = next(cursor.stored_results())

In [41]:
dataset = results.fetchall()

In [42]:
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

In [43]:
print(cols)
for data in dataset:
        print(data)

['GuestFullName', 'Status']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [44]:
conn.close()

In [1]:
from mysql.connector import pooling, Error

In [2]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":""}
try:
    pool = pooling.MySQLConnectionPool(pool_name="pool_b",
                                                  pool_size=2,
                                                  host='localhost',
                                                  **dbconfig)
    print("The connectin pool is created with name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

The connectin pool is created with name: pool_b
The pool size is: 2

In [3]:
data = {'Guest 1':{
'id':7,
'Table Number': 8,
'First Name': 'Anees',
'Last Name': 'Java',
'Booking Time': '18:00:00',
'EmployeeID': 6},
        'Guest 2':{
'id':8,
'Table Number': 5,
'First Name': 'Bald',
'Last Name': 'Vin',
'Booking Time': '19:00:00',
'EmployeeID': 6},
        'Guest 3':{
'id':9,
'Table Number': 12,
'First Name': 'Jay',
'Last Name': 'Kon',
'Booking Time': '19:30:00' ,
'EmployeeID': 6}}

In [4]:
for i, x in enumerate(data):
    globals()[f'conn_{i}'] = None
    try:
        values = tuple(list(data[x].values()))
        globals()[f'conn_{i}'] = pool.get_connection()
        cursor = globals()[f'conn_{i}'].cursor()
        temp_stmt = f'''INSERT INTO Bookings 
        VALUES {values}'''
        cursor.execute(temp_stmt)
        globals()[f'conn_{i}'].commit()
    except Error as err:
        print(x)
        print(err.msg)
        pool.add_connection()
        globals()[f'conn_{i}'] = pool.get_connection()
        cursor = globals()[f'conn_{i}'].cursor()
        temp_stmt = f'''INSERT INTO Bookings 
        VALUES {values}'''
        cursor.execute(temp_stmt)
        globals()[f'conn_{i}'].commit()
try:
    conn_0.close()
    conn_1.close()
    conn_2.close()
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

Guest 3
Failed getting connection; pool exhausted
Error code: -1
Error message: Failed adding connection; queue is full

In [42]:
report_stmt_1 = '''
Select Name, EmployeeID FROM Employees
Where Role = 'Manager';
'''

In [40]:
report_stmt_2 = '''
Select Name, Role FROM Employees
where Annual_Salary =( select MAX(Annual_Salary) FROM Employees);
'''

In [48]:
report_stmt_3 = '''
Select COUNT(BookingID) AS number_of_guests FROM Bookings
Where BookingSlot BETWEEN '18:00:00' AND '20:00:00';
'''

In [50]:
report_stmt_4 = '''
SELECT CONCAT(GuestFirstName,' ',GuestLastName) AS GuestFullName, BookingID
FROM Bookings
Where EmployeeID != 6
ORDER BY BookingSlot;
'''

In [ ]:
create_basicsalesreport_proc = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
SELECT SUM(BillAmount) AS Total_sales, AVG(BillAmount) AS Average_sale, MIN(BillAmount) AS Minimum_bill_paid,
MAX(BillAmount) as Maximum_bill_paid
FROM Orders;
END
"""

In [ ]:
cursor.execute(create_gueststatus_proc)

In [65]:
conn_4 = pool.get_connection()
cursor = conn_4.cursor(buffered=True)

In [66]:
next_three_upcoming_bookings_stmt = '''
SELECT BookingSlot,
CONCAT('Guest_name: ', GuestFirstName,' ',GuestLastName) AS GuestFullName,
CONCAT('Assigned to: ', Name , ' ', '[', Role ,']') AS BookingAssignment
FROM Bookings 
INNER JOIN Employees
ON Bookings.EmployeeID=Employees.EmployeeID
ORDER BY BookingSlot;
'''

In [67]:
cursor.execute(next_three_upcoming_bookings_stmt)
dataset = cursor.fetchmany(3)

In [71]:
for data in dataset:
    delta = data[0]
    totalMinute, second = divmod(delta.seconds, 60)
    hour, minute = divmod(totalMinute, 60)
    print(f"BookingSlot {hour}:{minute:02}:{second:02}")
    print(' '*7,data[1])
    print(' '*7,data[2])
    print()

BookingSlot 15:00:00
        Guest_name: Vanessa McCarthy
        Assigned to: Giorgos Dioudis [Head Chef]

BookingSlot 17:30:00
        Guest_name: Marcos Romero
        Assigned to: Fatma Kaya [Assistant Chef]

BookingSlot 18:00:00
        Guest_name: Anees Java
        Assigned to: John Millar [Receptionist]

In [64]:
conn_4.close()